:root {
  /* COLORS */
  --color-cambridge-blue: #7DAD95;
  --color-tiffany-blue: #91D0BD;
  --color-alabaster: #E5E6DE;
  --color-dutch-white: #E3D5A6;
  --color-chamoisee: #907855;
  --color-black-olive: #302D25;
  --color-eerie-black: #1D1B15;
}