:root {
  /* COLORS */
  --color-white: #FFFFFF;
  --color-black: #000000;

  /* PALETTE */

  --color-dark-cyan: #42858C;
  --color-tiffany-blue: #91d0bd;
  --color-midnight-green: #0a5c6b;
  --color-light-blue: #b8d8db;
  --color-anti-flash-white: #f0f0f0;

  /* GRADIENTS */
  --gradient-vertical: linear-gradient(0deg, var(--color-eerie-black), var(--color-tiffany-blue));

  /* SPACING */
  --spacing-xs: 0.75rem;
  --spacing-sm: 1rem;
  --spacing-md: 1.5rem;
  --spacing-lg: 2rem;
  --spacing-xl: 2.5rem;
  --spacing-xxl: 3rem;
}